<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :movie_title %>
  </div>

  <div class="field">
    <%= form.label :cast %>
    <%= form.text_field :cast, id: :movie_cast %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary, id: :movie_summary %>
  </div>

  <div class="field">
    <%= form.label :movieUrl %>
    <%= form.text_field :movieUrl, id: :movie_movieUrl %>
  </div>

  <div class="field">
    <%= form.label :posterUrl %>
    <%= form.text_field :posterUrl, id: :movie_posterUrl %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
